$mobile: 560px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$desktopXL: 1440px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktopXL {
  @media (max-width: #{$desktopXL}) {
    @content;
  }
}
