.textField {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: 0.3s;
  resize: none;
  font-size: 17px;

  &::placeholder {
    transition: 0.3s;
  }

  &:hover {
    border-color: #ccc;
  }

  &:focus {
    border-color: #007bff;
    outline: none;

    &::placeholder {
      color: #ccc;
    }
  }

  &::selection {
    background-color: #007bff;
    color: white;
  }
}
