.textField {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  transition: border 0.3s;

  &:hover {
    border-color: #ccc;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    border-color: #007bff;
    outline: none;
  }

  &::selection {
    background-color: #007bff;
    color: white;
  }
}
