@use './assets/variables.scss';

* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
