@use '@/app/assets/media.scss' as *;

.modalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;

  @include tablet {
    padding-top: 10%;
  }

  @include mobile {
    padding-top: 15%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalBlock {
  background: #fff;
  position: relative;
  border-radius: 10px;
  animation: slideUp 0.5s forwards;
  overflow-y: scroll;
  padding: 20px;
  width: 100%;

  @include tablet {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    bottom: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

.modalCross {
  font-size: 25px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
